{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% block stylesheets %}
 {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
                 <link rel="stylesheet" href="build/app.css"> 
{% endblock %}



{% if Access == 'admin' %}
    {% endif %}>
{% if Access == 'user' %}
    {% endif %}

<div class="example-wrapper">
<p>Welcome, {{ User }} <a style="float:right;" href="logout">Logout</a></p> 
{% if Access == 'user' %}
<form class="form-signin" _lpchecked="1" method="POST" action="" enctype="multipart/form-data">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Save Message For GuestBook</h1>
       
      </div>

      <div class="form-label-group">
        <input type="text" class="form-control" placeholder="Message" autofocus autocomplete="off" name="message">
        <label for="inputEmail">Message</label>
      </div>
      <h2> --OR-- </h2>
      <div class="form-label-group">
        <input type="file" id="inputPassword" class="form-control" placeholder="Password"  autocomplete="off" name="messagefile">
        <label for="inputPassword">File</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
    </form>
{% endif %}

{% if Access == 'admin' %}

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Message</th>
      <th scope="col">User</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for i,item in Message %}
  	<tr>
      <td>{{ i+1 }}</td>
      <td>
      {% if item.getType == 'text' %}
      	{{ item.getMessage }}
     {% elseif item.getType == 'image' %}
      	<img class="mb-4" src="{{ item.getMessage }}" alt="" width="72" height="72">
      {% endif %}

      </td>

      <td>
    
      {{ render(controller('App\\Controller\\MessageController::getuserbyid', { 'userid': item.getUser } )) }}
      </td>

      <td>
      {% if item.getStatus == 0 %}
      	<a href="changestatus/{{ item.getId }}/{{ item.getStatus }}">In-Active</a>
     {% elseif item.getStatus == 1 %}
      	<a href="changestatus/{{ item.getId }}/{{ item.getStatus }}">Active</a>
      {% endif %}
      </td>        
      <td>
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal{{ item.getId }}">Edit</button>
       <div class="modal fade" id="Modal{{ item.getId }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Edit Message</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form class="form-signin" _lpchecked="1" method="POST" action="updatemessage" enctype="multipart/form-data">
		      <div class="modal-body">
		      
		       {% if item.getType == 'text' %}
			      	<h3>Current Message : </h3> {{ item.getMessage }}
			     {% elseif item.getType == 'image' %}
			      	<h3>Current Message : </h3> <img class="mb-4" src="{{ item.getMessage }}" alt="" width="72" height="72">
			      {% endif %}
			     
				      <div>
				        <img class="mb-4" src="./Floating labels example for Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">
				        <h3>Update Message : </h3>
				      </div>
				      <div class="form-label-group">
				        <input type="text" class="form-control" placeholder="Message" autofocus autocomplete="off" name="message">
				        <label for="inputEmail">Message</label>
				      </div>
				      <h2> --OR-- </h2>
				      <div class="form-label-group">
				        <input type="file" class="form-control"  autocomplete="off" name="messagefile">
				        <label for="inputPassword">File</label>
				      </div>
				    <input type="hidden" name="messageid" value="{{ item.getId }}" />
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>
      <a href="deletemessage/{{ item.getId }}">Delete</a>
      </td>
                        
    </tr>        
    {% endfor %}
    
  </tbody>
</table>



 {% endif %}

</div>
{% endblock %}
{% block javascripts %}
            {{ encore_entry_script_tags('app') }}

               <script src="build/runtime.js"></script>
                <script src="build/app.js"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        {% endblock %}


